.footer__button{
   padding: 0px 24px;
   min-height: 80px;
   display: flex;
   align-items: center; 
}
.footer__button-submit {
   padding: 5px 24px;
   background: $button-color;
   border-radius: 2px;
   color: $button-text;
   line-height: 22px;
   margin-right: 24px;
      &:hover {
         background: $hover;
      }
      &:active {
         background: $active;
      }
}
.footer__button-cancel {
   background-color: transparent;
   line-height: 22px;
      &:hover {
         color: $hover;
      }
      &:active {
         color: $active;
      }
}
