$general-color: rgba(0, 0, 0, 0.9);
$main-color: #F9F9F9;
$button-color: #4488FF; 
$button-text: #FFFFFF;
$hover: #69A0F6;
$active: #3D7AE6;
%subtitle {
   font-weight: 600;
   font-size: 20px;
   line-height: 32px;
}
$main-subtitle-color: #000000;
$content-color: rgba(0, 0, 0, 0.5);